{#继承基础模板#}
{% extends "wechat/layout.html" %}

{#标题#}
{% block title %}
    提交订单
{% endblock %}

{#引入外部css#}
{% block stylesheets %}
    <link rel="stylesheet" href="http://cdn.amazeui.org/amazeui/2.5.0/css/amazeui.min.css">
    <link rel="stylesheet" href="../../../static/weixin/Styles/wp_v3/orderSubmit.css?v2">
{% endblock %}

{#书写本页css#}
{% block extra_stylesheets %}
{% endblock %}

{#页内正式工作区#}
{% block content %}
<form class="am-container" id="orderForm" action="/mall/deliverypay" method="post">
    <!--  用户填写收货信息  -->
    <ul class="am-list" id="userInfo">
        {% if consignee %}
            <li class="am-g">
                <div class="am-u-sm-5">
                    <img src="../../../static/weixin/Images/wp_v3/icon_shouhuoren.png" alt="person" width="18px"
                         height="20px"/>
                    <span>收货人</span>
                </div>
                <div class="am-u-sm-7" onclick="selectConsignee()">
                    <input type="text" value="{{ consignee['OTHERNAME'] }}  {{ consignee['OTHERTEL'] }}" id="consignee" name="consignee"
                           readonly="readonly" />
                    <input type="hidden" value="{{ consignee['OTHERNAME'] }}" id="consigneeName" name="consigneeName" />
                    <input type="hidden" value="{{ consignee['OTHERTEL'] }}" id="consigneeTel" name="consigneeTel" />
                    <input type="hidden" value="{{ consignee['ID'] }}" id="consigneeId" name="consigneeId" />
                </div>
            </li>
        {% else %}
            <li class="am-g">
                <div class="am-u-sm-5">

                    <img src="../../../static/weixin/Images/wp_v3/icon_shouhuoren.png" alt="person" width="18px"
                         height="20px"/>
                    <span>收货人</span>
                </div>
                <div class="am-u-sm-7" onclick="selectConsignee()">
                    <input type="text" value="" placeholder="请选择收货人" id="consignee" name="consignee" readonly="readonly" />
                </div>
            </li>
        {% endif %}
        <li class="am-g">
            <div class="am-u-sm-5">
                <img src="../../../static/weixin/Images/wp_v3/icon_adress.png" alt="address" width="15px"
                     height="21px"/>
                <span>收货地址</span>
            </div>
            <div class="am-u-sm-7" onclick="addrManage()">
                <input type="text" id="consigneeAddr" name="consigneeAddr" value="" placeholder="请选择收货地址"
                       readonly="readonly"/>
                <input type="hidden" id="consigneeAddrLng" name="consigneeAddrLng" value=""/>
                <input type="hidden" id="consigneeAddrLat" name="consigneeAddrLat" value=""/>
            </div>
        </li>
        <li class="am-g">
            <div class="am-u-sm-5">
                <img src="../../../static/weixin/Images/wp_v3/icon_time.png" alt="time" width="17px" height="17px"/>
                <span>送达时间</span>
            </div>
            <div class="am-u-sm-7 optTime">
                <select id="reachedTime" name="reachedTime">
                    <option value="0">即时送达</option>
                    <option value="1">16:00------16:30</option>
                    <option value="2">16:30------17:00</option>
                    <option value="3">17:00------17:30</option>
                    <option value="4">17:30------18:00</option>
                    <option value="5">18:00------18:30</option>
                    <option value="6">18:30------19:00</option>
                    <option value="7">19:00------19:30</option>
                    <option value="8">19:30------20:00</option>
                    <option value="9">20:00------20:30</option>
                    <option value="10">20:30------21:00</option>
                    <option value="11">21:00------21:30</option>
                    <option value="12">21:30------22:00</option>
                    <option value="13">22:00------22:30</option>
                    <option value="14">22:30------23:00</option>
                    <option value="15">23:00------23:30</option>
                    <option value="16">23:30------24:00</option>
                </select>
            </div>
        </li>
        <li class="am-g">
            <div class="am-u-sm-5">
                <img src="../../../static/weixin/Images/wp_v3/icon_beizhu.png" alt="" width="18px" height="19px"/>
                <span>备注</span>
            </div>
            <div class="am-u-sm-7 notes">
                <input type="text" id="notes" name="notes" value="请尽快发货" maxlength="20" />
            </div>
        </li>
    </ul>

    <!-- 优惠券 -->
    <div class="am-g" id="coupon">
        <div class="am-u-sm-8">
            <img src="../../../static/weixin/Images/wp_v3/icon_youhuiquan.png" alt="" width="45px" height="42px" />
            <span>{{ vouchers['num'] }}张可用</span>
        </div>
        <input type="hidden" id="sFlag" name="sFlag" value="{{ status }}" />
        <div class="am-u-sm-4" id="useCoupon">
            {% if vouchers['id'] %}
                <span>{{ vouchers['money'] }}优惠券</span>
                <input type="hidden" id="voucher" name="voucher" value="{{ vouchers['id'] }}" />
            {% else %}
                <img src="../../../static/weixin/Images/wp_v3/icon_use.png" alt="" width="22px" height="20px" /><br />
                <span>立即使用</span>
            {% endif %}
        </div>
    </div>

    <!-- 商品一览表 -->
    <ul class="am-list" id="goodsList">
        <!-- 隐藏的支付信息, 总价 -->
        <input type="hidden" id="totalPrice" name="totalPrice" value="{{ goodsList[0]['ORDER_MONEY'] }}" />
        {% for goods in goodsList %}
            <li class="am-g">
                <div class="am-u-sm-7">
                    <img src="{{ goods['SMALL_IMGURL'] }}" width="168px" height="69px" />
                </div>
                <div class="am-u-sm-5">
                    <h4>{{ goods['PRODUCT_NAME'] }}</h4>
                    <!--<img src="../../../static/weixin/Images/wp_v3/icon_money.png" alt="" width="9px" height="12px" />-->
                    <span>￥{{ goods['UNIT_PRICE'] }}</span>
                    <span>元/</span>
                    <span>{{ goods['BEER_UNIT'] }}</span>
                    <input type="hidden" value="{{ goods['ID'] }}" />
                    <input type="hidden" value="{{ goods['ARTICLE_COUNT'] }}" />
                    <input type="hidden" value="{{ goods['ARTICLE_MONEY'] }}" />
                </div>
            </li>
        {% endfor %}
    </ul>

    <!-- 支付方式 -->
    <div class="am-g" id="payMethod">
        <div class="am-u-sm-4 weixin" onclick="wx_pay()">
            <img src="../../../static/weixin/Images/wp_v3/btn_weixin.png" alt="微信" width="36px" height="41px" /><br />
            <span>微信</span>
        </div>
        <div class="am-u-sm-4 noBorder">
            支付方式
        </div>
        <div class="am-u-sm-4 xianjin" onclick="wx_deliverypay()">
            <img src="../../../static/weixin/Images/wp_v3/btn_fukuan.png" alt="货到付款" width="36px" height="41px" /><br />
            <span>货到付款</span>
        </div>
        <input type="hidden" id="urlid" name="urlid" value="" />
    </div>
</form>
{% endblock %}

{#引入外部js#}
{% block extra_javascripts %}
    <script src="../../../static/weixin/Scripts/wp_v3/orderSubmit.js?v=1150"></script>
    <script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
    <script src="../../../static/weixin/Scripts/wp_v3/addressInfo.js?v=1150"></script>
{% endblock %}
